:root {
    --bg_main: #0a1f44;
    --text_light: #fff;
    --text_med: #53627c;
    --text_dark: #1e2432;
    --red: #ff1e42;
    --darkred: #c3112d;
    --orange: #ff8c00;
  }

.weather-icon {
    content: url(../images/Weather-Track-Icon.png);
    height: 30px;
}

.header-style {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.city-name sup {
    background: var(--orange);
    border-radius: 30px;
    color: var(--text_light);
    font-size: 0.5em;
    padding: 0.2em 0.6em;
}

.uv-index-info {
    visibility: hidden;
    width: 160px;
    background-color: #404040;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.uv-index-color:hover .uv-index-info {
    visibility: visible;
  }

  /* Google Maps Autocomplete search styling */
  .pac-icon {
    display: none;
}

.pac-item {
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}

.pac-item:hover {
    background-color: #ececec;
}

.pac-item-query {
    font-size: 16px;
}